{% extends base_template %}

{% block content %}
<div class="jumbotron jumbotron-location text-center">
  <h1>Check out some accommodations we offer!</h1>
  <p>If you are interested in an accommodation, <a href="{{ url_for('signup')}}">sign up</a> or <a href="{{ url_for('login')}}">login</a> to plan your trip.</p>
</div>
<div class="container-fluid container-bg">
{% for accommodations_batched in accommodations|batch(4) %}
<div class="row">
   {% for accommodation in accommodations_batched %}
  <div class="col-sm-3">
    <div class="card card-padding">
      <img class="card-img-top" src="../static/images/{{ accommodation["ImgDir"] }}" alt="Card image cap">
      <div class="card-body">
        <form action = "{{url_for('addToCart') }}" method='post'>
        <h5 class="card-title">{{ accommodation["AccommodationType"] }}</h5>
        <p class="card-text">Cost: ${{accommodation["RatePerNight"]}}</p>
        {% set acctype = accommodation["AccommodationType"] %}
        <button class = "btn btn-purple" type="submit" name = "addAccommodation" value= "{{acctype}}">Select Accommodation</button>
        {% set acc = accommodation["Facilities"] %}
        <input type="hidden" name="Facilities" value= "{{acc}}"/>
        <input type="hidden" name="Rate" value={{accommodation["RatePerNight"]}}/>
        <input type="hidden" name="Discount" value={{accommodation["Discount"]}}/>
      </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
