<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="../static/js/jquery-3.3.1.js"></script>
      <link rel="stylesheet" href="../static/style.css">
      <title>Travel305</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-sm navbar-custom">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accommodations')}}">Accommodations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('flights')}}">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cruises')}}">Cruises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('showLocations')}}">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('carRentals')}}">Car Rentals</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="{{ url_for('groupHome')}}">Groups</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="{{ url_for('booking')}}">Booking</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="{{ url_for('booked_trips')}}">Booked Trips</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <p class="navbar-text">
              Welcome, {{name}}</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout')}}">Log Out</a>
          </li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>
