{% extends base_template %}


{% block content %}
<div class="jumbotron jumbotron-location text-center">
  <h1>Welcome to Travel305!</h1>
  <p>Check out what we offer below. If you're interested in creating a group and planning a trip
    <a href='{{ url_for('signup')}}'>sign up</a> or <a href='{{ url_for('signup')}}'>log in</a>.</p>
</div>
<div class="container-fluid container-bg">
<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Locations</h2>
  </div>
</div>
<div class="row">
{% for location in locations %}
  <div class="col-sm-3">
    <div class="card card-padding">
      <img class="card-img-top" src="../static/images/{{ location["ImgDir"] }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ location["CityName"] }}, {{ location["State"]}}</h5>
        <p class="card-text">List cost of flights here</p>
        <a href="#" class="btn btn-primary btn-purple">Find Flights</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Cruises</h2>
  </div>
</div>
<div class="row">
{% for cruise in cruises %}
  <div class="col-sm-3">
    <div class="card card-padding">
      <img class="card-img-top" src="../static/images/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">From {{ cruise["SourceLocation"] }} to {{ cruise["DestinationLocation"]}}</h5>
        <p class="card-text">Cost: {{cruise["Fare"]}}</p>
        <a href="#" class="btn btn-primary btn-purple">Find Flights</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h2>Accommodation</h2>
  </div>
</div>
<div class="row">
{% for accommodation in accommodations %}
  <div class="col-sm-3">
    <div class="card card-padding">
      <img class="card-img-top" src="../static/images/apartment.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ accommodation["AccommodationType"] }}</h5>
        <p class="card-text">Cost: ${{accommodation["RatePerNight"]}}</p>
        <a href="#" class="btn btn-primary btn-purple">Find Flights</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
