{% extends "groupbase.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block content %}
<div class="jumbotron jumbotron-location text-center">
  <h1>Join a group here!</h1>
  <p>Want to make a group instead? Go here: <a href="{{ url_for('createGroup')}}">Create Group</a></p>
</div>
<div>
  <h1>Current Group Status</h1>
  {% if group_status %}
    <p>You are in group: {{travelID}}</p>
  {% else %}
    <p>You are not in a group</p>
  {% endif %}
  <form action = "" method="post">
    <p>Enter the travel ID of the group you wish to join: {{form.travelID}} {{form.submit}} {{form.leaveSubmit}}</p>
  </form>
</div>
<div class = "joinGroupItems joinGroupTable">
  <table>
    <tr class="joinGroupHeader">
      <th>Group Travel ID</th>
      <th>Group Size</th>
      <th>Source Location</th>
      <th>Destination Location</th>
    </tr>
    {% for group in groups %}
    <tr>
      <td>{{group["TravelID"]}}</td>
      <td>{{group["GroupSize"]}}</td>
      <td>{{group["SourceLocation"]}}</td>
      <td>{{group["DestinationLocation"]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
